
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.firstPage {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 80%;
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-inline: auto;
}

.firstPage>div {
    background-color: var(--glassColor);
    background-size: 17rem;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
}


.headerTextContainer {
    background-image: url("images/upper-frame.svg");
    background-position: top left;

    justify-content: space-between;

    padding: 6rem;
}

.headerProjectsContainer {
    background-image: url("images/lower-frame.svg");
    background-position: bottom right;

    display: flex;
    justify-content: center;

    padding: 6rem;
    padding-top: 10rem;
}

.firstPage h1, .firstPage h2 {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.firstPage .name {
    color: rgb(15, 203, 15);
}

.firstPage img {
    width: 25rem;
}

.firstPage .projectsLine {
    background: #fff;
}

.firstPage .navList  li {
    font-size: 1.8rem;

    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
}

.navList:hover a {
    color: rgb(138, 138, 138);
}

.navList a {
    transition: all .2s ease-in-out; 
}

.navList a:hover {
    color: #fff;

    cursor: pointer;
    
    /* text-decoration: underline; */

    transition: all .2s ease-in-out; 
}

/* .navList a:hover::before {
    content: "->";
} */

@media screen and (max-width: 1100px) {
    .firstPage {
        flex-direction: column;
        height: max-content;
    }

    .firstPage>div {
        width: 100%;
    }
}