
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.firstPage {    
    background-color: var(--glassColor);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    box-sizing: border-box;
    width: 80%;
    height: fit-content;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-inline: auto;
}

.firstPage>div {
    background-size: 17rem;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headerTextContainer {
    background-image: url("images/upper-frame.svg");
    background-position: top left;

    display: flex;
    gap: 3rem;

    box-sizing: border-box;
    width: 60%;
    padding: 6rem 2rem 2rem 6rem;
}

.headerProjectsContainer {
    background-image: url("images/lower-frame.svg");
    background-position: bottom right;

    display: flex;
    justify-content: center;

    box-sizing: border-box;
    padding: 10rem 6rem 6rem 2rem;
}

.firstPage h1, .firstPage h2 {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.firstPage .name {
    color: rgb(15, 203, 15);

    white-space: nowrap;
}

.firstPage img {
    width: 70%;
}

.firstPage .navList  li {
    font-size: 1.8rem;

    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .6rem;
}

.navList:hover a {
    color: rgb(138, 138, 138);
}

.navList a {
    transition: all .2s ease-in-out; 
}

.navList a:hover {
    color: var(--textColor);

    cursor: pointer;
    
    /* text-decoration: underline; */

    transition: all .2s ease-in-out; 
}

/* .navList a:hover::before {
    content: "->";
} */

@media screen and (max-width: 450px) {
    .firstPage {
        flex-direction: column;

        width: 100%;
        height: max-content;
    }

    .firstPage>div {
        width: 100%;
        padding: 1rem;
        background-image: none;
    }

    .firstPage img {
        display: none;
    }
}