
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');


.firstPage {    
    background-color: var(--glassColor);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;

    box-sizing: border-box;
    width: 70%;
    height: fit-content;
    margin-bottom: 10vh;
    margin-inline: auto;
}

.firstPage>div {
    background-size: 17rem;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headerTextContainer {
    background-image: url("/images/upper-frame.svg");
    background-position: top left;

    display: flex;
    gap: 3rem;

    box-sizing: border-box;
    width: 60%;
    padding: 6rem 2rem 2rem 6rem;
    flex: 4;
}

.headerProjectsContainer {
    background-image: url("/images/lower-frame.svg");
    background-position: bottom right;

    text-wrap: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: fit-content;
    padding: 0 5rem 10rem 0;
    
    flex: 1
}

.firstPage h1, .firstPage h2 {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.firstPage .name {
    color: rgb(15, 203, 15);

    white-space: nowrap;
}

.firstPage img {
    width: 70%;
}

.projects hr {
    width: 150%;
    margin-left: -25%;
}

body .navList {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 1rem;
}

.firstPage .navList  li {
    font-size: 1.8rem;
    font-family: "livvic";

    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: .6rem;
}

.navList:hover a {
    color: rgb(138, 138, 138);
}

.navList a {
    transition: all .2s ease-in-out; 
}

.navList a:hover {
    color: var(--textColor);

    cursor: pointer;
    
    /* text-decoration: underline; */

    transition: all .2s ease-in-out; 
}

/* .navList a:hover::before {
    content: "->";
} */

@media screen and (max-width: 900px) {
    .firstPage {
        flex-direction: column;

        width: 100%;
        height: max-content;
    }

    .firstPage>div {
        width: 100%;
        padding: 1rem;
        background-image: none;
    }

    .firstPage img {
        display: none;
    }
}