
.projectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    padding-bottom: 5rem;
}

.projectPage section {
    background-color: var(--glassColor);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 75%;
    padding: 3rem;
    padding-bottom: 5rem;
}

.projectPage h2 {
    text-align: center;
}

.progessbar {
    background-color: var(--progressbarColor);

    overflow: hidden;

    width: 80%;
    height: .4rem;
    border-radius: 1rem;
    margin-inline: auto;
}

.progessbar>.progressIndicator {
    background: var(--contrastColor);
    
    height: 100%;
}


/* ----- FIRSTVIEW SPECIFIC STYLES ----- */

.projectMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    width: max-content;
}

.projectMenu a {
    height: 2.5rem;
    width: min-content;
}

.projectMenu img {
    width: 2.5rem;
    margin-top: .35rem;
}

.projectImage {
    width: 60%;
    margin-inline: auto;
}

.projectShortDescription {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;

    box-sizing: border-box;
    padding-inline: 7rem;
}

/* ----- PROGRAMMING LANGUAGES SPECIFIC STYLES ----- */


.programmingLanguages {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.programmingLanguages li {
    background: var(--offWhite);
    color: var(--darkTextColor);

    text-align: center;

    width: 10%;
    padding: 1rem;
    border-radius: .3rem;
}

/* ----- SEE-LIVE SPECIFIC STYLES ----- */

.seeLiveButtons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;

    width: 80%;
    margin-inline: auto;
}

.seeLiveButtons a {
    padding: 1rem;
    text-decoration: none;
}

.seeLiveButtons a:hover {
    text-decoration: underline;
    scale: 1.02;
}

.seeLiveButtons a:first-child {
    background: var(--offWhite);
    color: var(--darkTextColor);
}

.seeLiveButtons a:last-child {
    background: inherit;
    color: var(--textColor);
    
    outline: var(--contrastColor) 1px solid;
}