@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');


.pageFooter {
    background: #454545;

    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    position: relative;
    bottom: 0;

    box-sizing: border-box;
    height: max-content;
    width: 100%;
    
    
    padding: 3rem 4rem;

}


.pageFooter a {
    color: #d8dad8;
    
    font-family: Kavivanar;
    font-size: 2rem;
}

.footerLogos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    width: max-content;
}

.footerLogos img {
    width: 3rem;
}


@media screen and (max-width: 660px) {
    .pageFooter {
        flex-direction: column;
    }

    .pageFooter>.footerLogos:first-child { /* remove the invisible logos to not fuck with the layout */
        display: none;
    }
    
}