
.pageHeader {
    background: var(--headerGlassColor);
    background: url("/images/snow.jpg") no-repeat center center fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    left: 0;
    z-index: 100;

    box-sizing: border-box;
    width: 100%;
    padding: .15rem 15%;

    transition: all 0.5s ease-out;  
}

.pageHeader .websiteLogo     {
    width: 5rem;
}

.pageHeader .pageNavigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;

    margin-right: 5%;
}

.pageHeader ul img {
    height: 3rem;
}

.pageHeader a {
    color: var(--textColor);

    text-decoration: none;
    /* font-size: 1.4rem; */
    /* text-transform: uppercase; */
}


.openPageNavigationButton {
    display: none;
}

@media screen and (max-width: 450px) {
    .pageHeader .pageNavigation a {
        display: none;
    }
.pageHeader:hover
     {
        align-items: flex-start;

        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    .pageHeader:hover .pageNavigation {
        flex-direction: column;
        gap: 2rem;
    }

    .pageHeader:hover .pageNavigation>a {
        display: block;
    }

    .pageHeader .pageNavigation {
        display: flex;
    }

    .openPageNavigationButton {
        display: block;
    }

    .pageHeader:hover .openPageNavigationButton {
        display: none;
    }
}