.pageHeader {
    background: var(--headerGlassColor);
    /* background: linear-gradient(to right, rgba(95, 2, 13, 0.155), rgb(95, 2, 13)); */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: -8rem;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    padding: .15rem 15%;

    transition: all 0.5s ease-out;
}

.pageHeader .websiteLogo     {
    height: 5rem;
}

.pageHeader .pageNavigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;

    width: 100%;
    margin-right: 5%;
    flex-grow: 4;
}

.pageHeader ul img {
    height: 3rem;
}

.pageHeader a {
    color: var(--textColor);

    text-decoration: none;
    /* font-size: 1.4rem; */
    /* text-transform: uppercase; */
}
/* 
.pageHeader a:hover::after {
    content: url(images/icons/download.svg);
    align-items: center;
    align-self: center;
} */