#root {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
}

:root {
    --textColor: #ffffff;
    --offWhite: #d8dad8;
    --glassColor: #0a0a0ac4;
    --headerGlassColor: #00000092;
    --contrastColor: #008000;
    --footerColor: #454545;
    --projectLinkColor: #cbebff;

    --progressbarColor: #000;
    --darkTextColor: #000;
}

* {
    height: max-content;

    padding: 0;
    margin: 0;
}

/* body * {
    max-width: 100%;
} */

body {
    background: url("/images/snow.jpg") no-repeat center center fixed;

    font-size: 18px;
    
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.noUlFormatting {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.noAFormatting, .noAFormatting * {
    color: var(--textColor);
    text-decoration: none;
}

.noButtonFormatting {
    border: none;
    background: inherit;
    cursor: pointer;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

line {
    background: #000;

    display: block;

    width: 100%;
    height: .1rem;
    margin-inline: auto;
}

.mainContent {
    margin-top: 6rem;
}